<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('head.ejs') %>
<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container simpleStore">
        <div class="row">
            <a class="brand" href="#"></a>
        </div>
        <div class="simpleStore_container"></div>
        <div class="simpleStore_cart_container"></div>
    </div>

<h2> details page </h2>

    <div class='single_product'>
        <table>
          <% console.log(product) %>
          <%= product %>
        </table>
    <a href="./">Browse Store </a>
    </div>



    <%- include('footer.ejs') %>

  </body>
</html>
