<header>
  <div class='header-left'>
    <img src="../images/blastfrompastlogo.gif">
    <h1>Welcome to Blast From the Past!</h1>
    <h2>"Hill Valley's Most Famous Antique Store"</h2>
    <div class='clockimagediv'>
      <img src="../images/presenttime.png" class='clockimage' alt="">
      <p><span class='clocktext clockmonth'></span><span class='clocktext clockday'></span><span class='clocktext clockyear'></span><span class='clocktext clockhour'></span><span class='clocktext clockminute'></span></p>
    </div>
    <h3>2015 Main Street<br/>Hill Valley<br/>555-1376</h3>
  </div>

  <div class='header-right'>

  </div>
</header>

<script>
  const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN",
    "JUL", "AUG", "SEP", "OCT  ", "NOV", "DEC"];

function clock() {
  var time = new Date();
    time.setTime(Date.parse(time) - <%= product[0].timeOffset %>)
      hours = time.getHours(),
      minutes = time.getMinutes(),
      seconds = time.getSeconds();
      month = time.getMonth();
      date = time.getDate();
      year = time.getFullYear();

      document.querySelectorAll('.clockmonth')[0].innerHTML = monthNames[month];
      document.querySelectorAll('.clockday')[0].innerHTML = date;
      document.querySelectorAll('.clockyear')[0].innerHTML = year;
      document.querySelectorAll('.clockhour')[0].innerHTML = hours;
      document.querySelectorAll('.clockminute')[0].innerHTML = minutes;



    // + '    ' + date + ' '+  year + ' ' + harold(hours) + ":" + harold(minutes);


    function harold(standIn) {
      if (standIn < 10) {
        standIn = '0' + standIn
      }
      return standIn;
    }
};

setInterval(clock(), 1000)
</script>
