<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('head.ejs') %>
  <body>

    <h1>Are you ready to travel through time?</h1>
    <a href='./seed/'><img src="../images/background222.jpg" alt="">
    <p>Return to 4:29pm Wednesday October 21st, 2015</p></a>
  </body>
</html>
