<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The Store Has Been Emptied</h1>
    text <% console.log(product.length) %>
    <a href='./seed/'><p>Return to 4:29pm Wednesday October 21st, 2015</p></a>
  </body>
</html>
